header h1 {
    display: inline;
    font-size:50px;
    font-weight:bold;
    color:black;
}

header h1 a {
    color:black;
}

#record div {
    border: 2px solid black;
    border-radius: 15%;
    font: 2em medium;
    border-radius: 10%;
    padding: 40px;
    margin: 1rem;
    background-color: #f5f4f44e;
}

a {
    color: #17273a;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: #58a790;
}

body {
    font-family: 'Palatino';
    text-rendering: optimizeLegibility;
}

#selfintro {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #a8a9aa77;
}

#content {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#Hello {
    font: 5em sans-serif;

}

footer {
    display:block;
    border-top: 1px #ccc solid;
    text-align: center;
    color:#ccc;
    font-size:14px;
    margin-bottom:30px;
}

@media screen and (min-width: 1024px) {
    #content {
        width: 800px;
    }

    header {
        width: 800px;
    }
}

article {
    display: block;
    font-size: 16px;
    margin-bottom:10px;
    border: 1px solid transparent;
}

article pre {
    position:relative;
    left:20px;
    top:10px;
    font-family: 'Inconsolata', Courier;
    font-size: 16px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    margin-bottom:10px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}