---
import { Picture } from 'astro:assets';
import img from '~/assets/hana.png';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout title="About" description="About this site." currentNav="About">
	<Picture
		class="lg:float-right lg:ml-4 lg:w-2/5"
		src={img}
		formats={['avif', 'webp']}
		alt="mountains"
	/>
	<p>我就猜到你会想知道更多关于我的事情！/p>
	<p>
		我没有工作，未来几年内也大概率不会有工作。
	</p>
	<p>
		数年前，基于工资高这一俗不可耐的原因，我以计算机行业为目标展开了学习。
		但缺乏钻研的耐心和对技术的兴趣成为我在这个领域毫无建树的根本原因。
		先前的我还有过两个博客，写了笔记，写了周报，但都没坚持几天，便不了了之了。
		所以这其实是我第三次尝试，放弃了从头构建，借用了一个好看的博客模板。
		这一次也不对自己抱有期待能够写多少博客，也只不过是对自己的一次安慰。
		正所谓希望越大失望越大嘛！只要不抱希望，失败就不会带来负面情绪，更也不会引起自责。
		而成功是意外之喜，带来更大的快乐。这种态度是我苟活的倚仗。
	</p>
	<p>
		我很害怕，我害怕非常多的事情。我害怕黑暗，害怕随时有危险降临，害怕身边的人离我而去，害怕被人嘲笑，害怕失去我所珍视的东西。
		这个鄙陋人生的动力也来自于恐惧，来自于，一旦我出糗，出现纰漏，未达到理想的地方，那些我心爱的人们会失望，那些陌生的人会嘲弄，那些憎恨的人会笑得合不拢嘴。
		我知道这种想法太自我为中心了，但我忍不住这样想，我就是这样卑劣的人。
	</p>
	<p>
		我始终相信，人生中最重要的三件事：帮助、给予和报恩。虽然情绪化的自己难以长期坚守这些，但我坚信着。
	</p>
	<p>
		最后，附上我从小就非常喜欢的《与陶少云书》中的几句
		<ul>
			<li>即事穷理，何处非学</li>
			<li>此心如水，不流即腐</li>
			<li>日日留心，则一日有一日之长进</li>
			<li>事事留心，则一事有一事之长进。</li>
		</ul>
	</p>
</MarkdownLayout>
