---
import { Picture } from 'astro:assets';
import img from '~/assets/photo.jpg';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="a dog" loading="eager" />
		<div>
			<h1>Hello！我是 Betmul！👋一个无业游民！</h1>
			<p>
				关于我！我喜欢所有很酷的技术！我想要身边的人都开心！我想要陪伴着家人！我想要变得非常非常有钱！
				我想要读好多好多书！我想要被人发自内心地称赞！我想要欣赏美好事物！我想要我想要我想要！
			</p>
			<p>
				对了，也该给博客定一个主基调了，这是一个以技术分享为主基调，穿插我对生活的抱怨、对过去的回忆、对现在的记录。
			</p>
			<p>也就是说，其实什么都写！</p>

		</div>
	</div>
</MarkdownLayout>
